# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Trained Model
saved_model/

# Dataset
data/raw/
data/processed/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db