<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Emotion Detection using BERT</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="navbar">
        <h2>Emotion Detection Using BERT</h2>
    </nav>

    <div class="container">

        <div class="card">

            <h1>😊 Emotion Detection using BERT</h1>

            <form id="emotionForm" action="/predict" method="POST">

                <textarea name="text" placeholder="Type your sentence here..."
                    required>{{ text if text else "" }}</textarea>

                <button id="predictButton" type="submit">
                    Predict Emotion
                </button>

            </form>

            {% if emotion %}

            <div class="result emotion-card">

                <h2>Prediction Result</h2>

                <h3>{{ emotion }}</h3>

                <p><strong>Confidence:</strong> {{ confidence }}%</p>

                <p><strong>Your Text:</strong></p>

                <p>{{ text }}</p>

            </div>

            {% endif %}

        </div>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <footer class="footer">
        <p>Developed by Thiruveedula Naga Sandeep</p>
    </footer>
</body>

</html>